/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27");
* {
    margin: 0px auto;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background: #000000;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 1000px;
}

.labels {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    position: relative;
    display: flex;
    top: 40px;
    margin-bottom: 50px;
    width: 400px;
    height: 150px;
}

div.p1 {
    width: 300px;
    text-align: center;
    flex: 0 0 50%
}

div.p2 {
    width: 300px;
    flex: 1;
    text-align: center;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    transform-style: preserve-3d;
    transform: scale(1);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    background: #f1b8df;
}

.front-face {
    transform: rotateY(180deg);
}

@media screen and (max-width: 750px) and (max-height: 500px) {
    .memory-game {
        width: 50%;
        height: 50%;
    }
    .memory-card {
        width: calc(25% - 8px);
        height: calc(25% - 8px);
        margin: 4px;
    }
    .front-face,
    .back-face {
        padding: 10px;
    }
}

button {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: cursive, sans-serif;
    background: transparent;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    border-radius: 15px;
    font-size: large;
}

.right img {
    width: 80%;
    margin-top: 25%;
    margin-left: 10%;
}

.login {
    height: 100%;
    width: 100%;
    background: black;
    position: relative;
}

.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    background: black;
}

.login_box .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
}

.login_box .right {
    width: 59%;
    height: 100%;
    margin-top: 30px;
}

.left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    color: #fff;
}

.left h3 {
    text-align: center;
    margin-bottom: 40px;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: floralwhite;
    font-weight: 600;
    font-size: 20px;
}

.left {
    background: black;
}

.submit1 {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin-top: 240px;
    background: rgb(196, 156, 104);
    color: #fff;
    font-weight: bold;
}

.submit2 {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin-top: 10px;
    background: rgb(196, 156, 104);
    color: #fff;
    font-weight: bold;
}

.right {
    position: relative;
    background: black;
}